<h1>Beschikbare Moestuinen</h1>
<p>Hier vind je een overzicht van onze momenteel beschikbare moestuinen.</p>
<ul class="tuin-lijst">
    <li>Tuin 1: 20m² - Zonnige locatie</li>
    <li>Tuin 2: 30m² - Dicht bij watervoorziening</li>
    <li>Tuin 3: 25m² - Schaduwrijk gedeelte beschikbaar</li>
</ul>
<p>Neem contact met ons op om een tuin te reserveren of voor meer informatie.</p>