<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Moestuin Verhuur</title>
</head>
<body>
    <h1>Welkom bij je Dashboard</h1>
    <% if(user){ %>
        <p>Hallo, <%= user.username %>!</p>
        <p>Je bent ingelogd met het e-mailadres: <%= user.email %></p>
    <% } %>
    <a href="/users/logout">Uitloggen</a>
    <br>
    <a href="/">Terug naar Home</a>
</body>
</html>