<h1>Aanvraag Ontvangen</h1>
<p>Bedankt voor uw interesse in het huren van een moestuin. We hebben uw aanvraag ontvangen en zullen zo spoedig mogelijk contact met u opnemen.</p>
<a href="/" class="button">Terug naar Home</a>