<h1>Mijn Groenteselectie</h1>

<% if (vegetables.length > 0) { %>
  <ul>
    <% vegetables.forEach(function(vegetable) { %>
      <li><%= vegetable %></li>
    <% }) %>
  </ul>
<% } else { %>
  <p>Je hebt nog geen groenten geselecteerd. Ga naar de <a href="/groenteselectie">Groenteselectie</a> pagina om je keuze te maken.</p>
<% } %>
<a href="/groenteselectie">Terug naar Groenteselectie</a>