<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <meta http-equiv="refresh" content="5;url=<%= process.env.NGROK_URL %>/payments/check-payment-status">
</head>
<body>
    <h1>Betaling in Behandeling</h1>
    <p>Uw betaling is in behandeling. Het kan enkele ogenblikken duren voordat we een bevestiging ontvangen.</p>
    <p>U wordt automatisch doorgestuurd zodra de betaling is verwerkt.</p>
</body>
</html>